@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #413b3b;
}

@layer components {
  .titlebar-button {
    @apply inline-flex justify-center items-center w-8 h-8 hover:bg-toolbar-hover;
  }
}

@layer base {
  .bg-toolbar-hover {
    background-color: #464141;
  }
}

.bg-toolbar {
  background-color: #383434;
}